[Unit]
Description=Keepalived exporter
After=network-online.target

[Service]
User=root
Type=simple
ExecStart=/usr/local/bin/keepalived-exporter

[Install]
WantedBy=multi-user.target
