global_defs {
    enable_script_security 
    script_user keepalived_script
}

vrrp_script check_haproxy {                 
    script "/home/keepalived_script/keepalived_check" 
    weight 20                              
    interval 1               
}

vrrp_instance agama {             
    interface ens3
    virtual_router_id 65
    {% if inventory_hostname in groups['keepalived_master'] %}
    priority 100
    {% else %}
    priority 99
    {% endif %}
    advert_int 1                            
    virtual_ipaddress {                     
        192.168.100.{{ (hostvars[groups['keepalived_master'][0]]['ansible_default_ipv4']['address'] | split('.'))[3] }}/24                   
    }
    unicast_peer {
        {% for vm in groups['haproxy'] %}
        {% if inventory_hostname != vm %}
        {{ hostvars[vm]['ansible_default_ipv4']['address'] }}
        {% endif %}                          
        {% endfor %}
    }
    track_script {
        check_haproxy
    }
}