- name: Restart bind9 service
  ansible.builtin.service:
    name: bind9
    state: restarted

- name: Reload database
  shell: sudo rndc reload

- name: Stop systemd-resolved
  shell: sudo systemctl stop systemd-resolved

- name: Delete resolv.conf link
  shell: sudo rm /etc/resolv.conf

- name: Place resolv.conf 
  ansible.builtin.template:
    src: resolv.conf
    dest: /etc/resolv.conf
    force: yes
    mode: '0766'