- name: Install prometheus-mysqld-exporter
  ansible.builtin.apt:
    name: prometheus-mysqld-exporter
    state: latest
  register: prom_exporter_installed

- name: Place my.cnf.j2 
  ansible.builtin.template:
    src: my.cnf.j2
    dest: /var/lib/prometheus/.my.cnf
    force: yes
    mode: '0766'
  notify: 
    - Restart prometheus-mysqld-exporter
    - Restart mysql service

- name: Create user exporter
  community.mysql.mysql_user:
    name: "{{ mysql_exporter_user }}"
    password: "{{ mysql_exporter_pass }}"
    priv: 
      '*.*': 'PROCESS,REPLICATION CLIENT,SELECT'
    login_unix_socket: /var/run/mysqld/mysqld.sock
    no_log: true

- name: Pause for 10 sec
  ansible.builtin.pause:
    seconds: 10
  when: prom_exporter_installed.changed


- name: Start prometheus-mysqld-exporter
  ansible.builtin.service:
    name: prometheus-mysqld-exporter
    state: started