acl lan {
	{% for c in corpnets -%}
	{{ c+" " }}
	{%- endfor %}
};

options {
	directory "/var/cache/bind";

	forwarders {
	 	{%- for r in route -%}
        {{ r }}
        {% endfor %}
	};
	allow-query { 
		lan; 
	};
	dnssec-validation no;
};

statistics-channels {
  inet 127.0.0.1 port 8053 allow { 127.0.0.1; };
};
