acl lan {
	{% for c in corpnets -%}
	{{ c+" " }}
	{%- endfor %}
};

options {
	directory "/var/cache/bind";

	forwarders {
	 	{%- for r in route -%}
        {{ r }}
        {% endfor %}
	};
	allow-query { 
		lan; 
	};
	allow-recursion { 
		lan; 
	};
	dnssec-validation no;
};

statistics-channels {
  inet 127.0.0.1 port 8053 allow { 127.0.0.1; };
};

key "dns_update_key" {
	algorithm hmac-sha256;
	secret "{{ dns_update_key }}";
};

key "dns_transfer_key" {
	algorithm hmac-sha256;
	secret "{{ dns_transfer_key }}";
};