{{ hostvars['sekapictures-1']['ansible_host']}}:{{ hostvars['sekapictures-1']['ansible_port'] | int - 22 + 88}}



  {% set counter = [] %}
  {%- for vm in groups['haproxy'] -%}
  {% for x in range(agama_instances) -%}
  {{ counter.append(loop.index) | default("", True) -}}
  server s{{ counter | length}} {{ vm }}:{{ agama_port + loop.index }} check
  {% endfor %} 
  {%- endfor %}

$TTL	604800
{{ startup_name }}.	IN	SOA	sekapictures-2.{{ startup_name }}. arsser.{{ startup_name }}. (
        {{now(utc=True).isoformat()}}		; Serial
			 604800		; Refresh
			  86400		; Retry
			2419200		; Expire
			 604800 )	; Negative Cache TTL
;
